<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Nombre y Apellido </th>
      <td mat-cell *matCellDef="let user"> {{ user | fullName }} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Email </th>
      <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Teléfono </th>
      <td mat-cell *matCellDef="let user"> {{ user.phone }} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Detalles </th>
      <td mat-cell *matCellDef="let user">  
        <button [routerLink]="user.id" mat-icon-button color="primary">
          <mat-icon>visibility</mat-icon>
        </button>   </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Actualizar o Borrar </th>
      <td mat-cell *matCellDef="let user">  
        <button [disabled]="!(isAdmin$ | async)" (click)="editUser.emit(user)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>   
        <button [disabled]="!(isAdmin$ | async) || user.id == 1" (click)="deleteUser.emit(user)" mat-icon-button color="warn"> <!-- Siempre debe quedar un administrador, por eso el primero sera imposible de borrar -->
          <mat-icon>delete</mat-icon>
        </button>   
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  