<table mat-table [dataSource]="(comissions$ | async) || []" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> ID </th>
      <td mat-cell *matCellDef="let course"> {{ course.id }} </td>
    </ng-container>
  
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Nombre y Apellido </th>
      <td mat-cell *matCellDef="let comission"> {{ comission | fullName }} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Email </th>
      <td mat-cell *matCellDef="let comission"> {{ comission.email }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef appEncabezado20> Acciones </th>
      <td mat-cell *matCellDef="let comission"> 
        <button [routerLink]="comission.id" mat-icon-button color="primary">
          <mat-icon>visibility</mat-icon>
        </button>   
        <button (click)="editComission.emit(comission)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>   
        <button (click)="deleteComission.emit(comission)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>   
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>