<h2 mat-dialog-title>{{ editingComission ? 'Edición de ' +  editingComission.courseId : 'Agregar comision' }}</h2>
<div mat-dialog-content>    
    <form [formGroup]="comissionForm" class="grid">
        <div class="col-6 field">
            <mat-form-field class="w-full">
                <mat-label>Curso</mat-label>
                <mat-select [formControl]="courseIdControl">
                    <mat-option [value]="course.id" *ngFor="let course of courseOptions$ | async">{{ course.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>
</div>
<div mat-dialog-actions class="flex justify-content-end">
    <button type="submit" mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>
