<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <a routerLink="home" mat-list-item>Home</a>
        <a routerLink="users" mat-list-item>Usuarios</a>
        <a routerLink="students" mat-list-item>Alumnos</a>
        <a routerLink="courses" mat-list-item>Cursos</a>
        <a (click)="logout()" mat-list-item>Cerrar sesion</a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar class="flex card-container blue-container overflow-hidden" color="primary">
              <button (click)="drawer.toggle()" mat-icon-button class="example-icon flex-none flex align-items-center justify-content-center" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <span class="flex-grow-1 flex align-items-center justify-content-center">The Fighting School</span>
              <span class="example-spacer"></span>
            <div class="flex-none flex align-items-center justify-content-center">
              <span *ngIf="authUser$ | async; let authUser">Bienvenid@ {{ authUser?.name }} {{ authUser?.surname }}!!</span>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
  
  </mat-drawer-container>
